#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ag-theme-quartz {
  --ag-font-size: 14px;
  --ag-font-family: inherit;

  --ag-background-color: #ffffff;

  --ag-header-background-color: #ffffff;
  --ag-header-foreground-color: #6b7280;

  --ag-row-border-color: #e5e7eb;
  --ag-border-color: #e5e7eb;

  --ag-cell-horizontal-padding: 16px;

  --ag-odd-row-background-color: #ffffff;
  --ag-row-hover-color: rgba(0, 0, 0, 0.03);

  --ag-header-column-separator-display: none;
  --ag-header-column-resize-handle-display: none;
}

.ag-theme-quartz .ag-header {
  border-bottom: 1px solid #e5e7eb;
  font-weight: 500;
}

.ag-theme-quartz .ag-row {
  border-bottom: 1px solid #e5e7eb;
}

.ag-theme-quartz .ag-cell {
  display: flex;
  align-items: center;
  border: none;
}

.ag-theme-quartz .ag-header-cell {
  border: none;
}

.ag-theme-quartz .ag-root-wrapper {
  border: none;
}
  
/* AgGrid Cell-il overflow enable panna */
.ag-theme-quartz .ag-cell {
  overflow: visible !important;
}

/* Base row level */
.ag-theme-quartz .ag-row {
  z-index: 1;
}

/* Mouse hover pannum row top-la varadhukku */
.ag-theme-quartz .ag-row:hover,
.ag-theme-quartz .ag-row-hover {
  z-index: 999 !important;
}